# Web Framework
flask
flask-cors

# Computer Vision
opencv-python-headless

imagehash
pillow

# Deep Learning (CPU only)
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.10.0+cpu
torchvision==0.25.0+cpu

# Utilities
scipy
numpy
yt-dlp
